@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: black;
}

.offset:before{
  display:block;
  content:"";
  height: 4rem;
  margin-top: -4rem;
}

/*-- Navbar --*/
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
}

.navbar-brand img{
  height: 2.5rem;
}

.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color:white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #b29600;
}

/*-- Landing --*/
.dark{
  background-color: rgba(0,0,0,0.6);
  color:white;
}

.home-inner{
  background-image: url(img/welcome.png);
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
  color:white;
  text-transform: uppercase;
}

.caption h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h2{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem;
  font-size: 1rem;
}

/*-- About --*/
.narrow{
  width: 100%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h2{
  font-weight:500;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.btn-primary{
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  color:white;
  background-color:#b29600;
  border-color: #b29600;
}

.btn-primary:hover{
  background-color:#998100;
  border-color: #998100;
}


/*-- Jumbotron --*/
.jumbotron{
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
  background-color: #b29600;
}

h2.heading{
  font-size: 1.9rem;
  font-weight:700;
  text-transform: uppercase;
  color:black;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: black;
  margin:0 auto 2rem; 
}


/*-- Events --*/
.fixed{
  background-image: url(img/event.png);
  z-index: -3;
}

.dark2{
  background-color: rgba(0,0,0,0.6);
  color:white;
  padding:7rem 2rem;
  z-index: -2;
}

h2.heading2{
  font-size: 1.9rem;
  font-weight:700;
  text-transform: uppercase;
  color:#b29600;
  margin-bottom: 2rem;
}

.heading2-underline{
  width: 3rem;
  height: .2rem;
  background-color: #b29600;
  margin:0 auto 2rem; 
}

.row{
  padding-top: 5rem;
}

.box{
  position:relative;
  height: 20rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.row .box:before{
  content: ' ';
  position: absolute;
  top: -2px;
  left:-2px;
  right:-2px;
  bottom:-2px;
  background:#b29600;
  transform: skew(2deg,2deg);
  z-index: -1;
}
/*-- Contact --*/
footer{
  background-color:#b29600;
  color:white;
  padding:2rem 0 2rem;
  margin-top 1rem;
}

footer a{
  color:white;
}

footer a:hover{
  color:#40474e;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin:1rem .5rem 0 0;
}

hr.socket{
  width:100%;
  border-top:.2rem solid white;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








